.tabs {
    display: grid;
    grid-template-columns: 33% 0.3% 33% 0.3% 33%;

    margin-top: 1rem;
    padding-bottom: 1rem;
    justify-items: center;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.br {
    cursor: pointer;
    border-left: 1px solid rgb(227, 227, 227);
}

.tab {
    cursor: pointer;
}




.active {
    display: block;

}

.deActive {
    display: none;


}