.mainActive {
    width: 95%;
    height: 54rem;

    margin: 0 auto;
    overflow: hidden;
}

.main {
    width: 95%;
    height: 54rem;
    overflow-y: auto;


    margin: 0 auto;
}


.photo {
    width: 486px;
    height: 850px;

    border-radius: 0.5rem;
}

.onPhoto {

    margin: -12rem 0 0 2rem ;
    color: #fff;
} 

.infoOpened {

}

.infoActive {
    display: none;
}

.nameAndAge {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;

}

.verification {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.1rem 0 0 0.1rem;
    border-radius: 1rem;

    background: rgb(83, 94, 213);
}

.onlineStatus {
    display: flex;
    gap: 0.8rem;
    margin: 0.5rem 0 0.5rem 0 ;
    font-size: 0.8rem;
} 

.circle {
    width: 1rem;
    height: 1rem;

    background: greenyellow;

    border-radius: 1rem;
}

.distance {
    display: flex;
    gap: 1rem;
}

.btnBlock {
    display: block;
    margin: -1.5rem 0 0 25rem;
}

.moreInfo {
    width: 1.9rem;
    height: 1.9rem;

    padding-top: 0.1rem;
    border-radius: 1rem;

    font-size: 1.5rem;

}   

.moreInfoDeActive {
    display: None;
}

/* .btnDown {
    width: 4rem;
    height: 4rem;

    margin-bottom: 5rem;

    border-radius: 1rem;
    background-color: rgb(221, 67, 67);
} */

.active {
    margin-top: -20rem;
}

/* ======================Button BAR ======================= */

.btnBarActive {
    display: flex;
    gap: 0.8rem;

    margin: 1rem 0 0 1.5rem;
}

.btnBarDeActive {
    display: none;
}

.btnItem {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    background: none;
}

.btnOne {
    display: block;
    width: 3rem;
    height: 3rem;

    font-size: 1.5rem;
    margin: 0 auto 0.4rem;
    background: none;


    border: 2px solid #fff;
    border-radius: 2rem;
}



.btnTwo {
    display: block;
    width: 4rem;
    height: 4rem;

    font-size: 2rem;
    margin: 0 auto 0.5rem;

    border: 2px solid rgb(228, 45, 45);
    border-radius: 3rem;
    background: none;

}

.btnThree {
    display: block;
    width: 3rem;
    height: 3rem;

    font-size: 1.5rem;
    margin: 0 auto 0.4rem;
    background: none;


    border: 2px solid rgb(46, 217, 255);
    border-radius: 2rem;
}

.btnFour {
    display: block;
    width: 4rem;
    height: 4rem;

    font-size: 2rem;
    margin: 0 auto 0.5rem;
    padding: 0 auto;

    border: 2px solid rgb(120, 232, 130);
    border-radius: 3rem;
    background: none;

}

.btnFive {
    display: block;
    width: 3rem;
    height: 3rem;

    font-size: 1.5rem;
    margin: 0 auto 0.4rem;
    background: none;


    border: 2px solid rgb(165, 83, 180);
    border-radius: 2rem;
}
.btnItemAlpha {
    width: 5rem;
    height: 5rem;
    text-align: center;
    background: none;

}


/* ======================Opened Info ======================= */

.openedInfoAbout {
}

.openedInfoName {
    padding-bottom: 0.5rem;

    font-weight: 700;
    font-size: 1.4rem;
    
}

.openedInfoAboutUser {
    display: grid;
    gap: 0.4rem;
    color: #666;
}

.openedInfoAboutUserCount {
    display: flex;
    gap: 0.5rem;
}

.openedInfoUserAbout {
    margin: 1rem auto;
}

.openedInfoUserName {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.openedInfoUserDescriptionBlock {
    color: #666;
}

.openedInfoUserDescription {
    padding-bottom: 0.5rem;
}

.openedInfoUserZodiacSign {
    width: 8rem;
    height: 1.5rem;

    padding-left: 0.5rem;

    border: 1px solid #666;
    border-radius: 1rem;
}




/* ================ More Action =================== */


.shareField {
    width: 100%;
    height: 14rem;

    margin-top: 2rem;

    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.shareBtn {
    width: 100%;
    height: 2rem;
    margin-top: 5rem;

    text-align: center;
}

.share {
    color: #999;
    font-size: 1.4rem;
}