
.content {
    height: 51rem;
    display: grid;
    grid-template-rows: 7% 80% 13%;

    justify-items: center;
}

.main {
    margin-top: 12rem;
}

.photo {
    width: 6rem;
    height: 6rem;

    margin: 0 auto 2rem;

    border: 1px solid #333;
    border-radius: 3rem;
}